@font-face {
    font-family: "Almarai";
    src: url("../assets/fonts/Almarai-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Almarai";
    src: url("../assets/fonts/Almarai-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Almarai";
    src: url("../assets/fonts/Almarai-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@mixin full-size{
    width: 100%;
    height: 100%;
}

@mixin grey-background{
    background-color: #303131;
}

@mixin flexbox-center-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin white-font{
    color: #FFFFFF;
}

@mixin font-weight-400{
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: normal;
}

@mixin font-weight-700{
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: normal;
}

@mixin space-top-bottom-zero{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

body{
    height: 100vh;
    margin: 0;
    font-family: "Almarai", sans-serif;
}

.content{
    @include full-size;
}

.field{
    display: none;
}

.home-content{
    @include full-size;
    @include grey-background;
    @include flexbox-center-column;
}

.play-time-headline{
    @include white-font;
    @include font-weight-400;
    @include space-top-bottom-zero;
    font-size: 48px;
    text-align: left;
    padding-bottom: 35px;
}

.ready-to-play-headline{
    @include white-font;
    @include font-weight-700;
    @include space-top-bottom-zero;
    font-size: 140px;
    text-align: left;
    margin-left: -9px;
}

.card{
    height: 100px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;

    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face{
        position: absolute;
        inset: 0;
        background-color: black;
        backface-visibility: hidden;

        &--back{
            transform: rotateY(180deg);
            background-color: red;
        }
    }

    &.is-flipped .card__inner{
        transform: rotateY(180deg);
    }
}

