@font-face{
    font-family: "Almarai";
    src: url("../assets/fonts/Almarai-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Almarai";
    src: url("../assets/fonts/Almarai-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Almarai";
    src: url("../assets/fonts/Almarai-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: "RedRose";
    src: url("../assets/fonts/RedRose-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@mixin full-size{
    width: 100%;
    height: 100%;
}

@mixin grey-background{
    background-color: #303131;
}

@mixin white-background{
    background-color: #FFFFFF;
}

@mixin flexbox-center-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin flexbox-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin display-flex-align-center{
    display: flex;
    align-items: center;
}

@mixin flexbox-justify-center-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin white-font{
    color: #FFFFFF;
}

@mixin font-weight-400{
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: normal;
}

@mixin font-weight-700{
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: normal;
}

@mixin font-weight-700-RedRose{
    font-family: "RedRose", sans-serif;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: normal;
}

@mixin position-relative{
    position: relative;
}

@mixin position-absolute-sites{
    top: 0;
    left: 0;
    position: absolute;
}

@mixin space-top-bottom-zero{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@mixin display-none{
    display: none;
}

@mixin padding-left-settings{
    padding-left: 173px;
}

@mixin margin-left-radion-input{
    margin-left: 44px;
}

@mixin margin-font-sub-headlines-settings{
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 17px;
}

body{
    height: 100vh;
    margin: 0;
    font-family: "Almarai", sans-serif;
}

.content{
    @include full-size;
}

.field{
    display: none;
}

// ab hier nesten

.home-content{
    @include full-size;
    @include grey-background;
    @include flexbox-center-column;
    @include position-relative;
    z-index: 10;
    top: 0;
    left: 0;


    &__play-time-headline{
        @include white-font;
        @include font-weight-400;
        @include space-top-bottom-zero;
        font-size: 48px;
        text-align: left;
        padding-bottom: 35px;
    }

    &__ready-to-play-headline{
        @include white-font;
        @include font-weight-700-RedRose;
        @include space-top-bottom-zero;
        font-size: 140px;
        text-align: left;
        margin-left: -9px;
    }

    &__icon-positioning{
        position: absolute;
        left: 0px;
        bottom: 13.06px;
    }

    .play-button{
        @include font-weight-700-RedRose;
        @include flexbox-center;
        font-size: 40px;
        width: 250px;
        height: 98px;
        padding: 24px;
        margin-top: 85px;
        background-color: #F0EA6E;
        border: none;
        font-size: 40px;
        gap: 20px;
        cursor: pointer;

        &:hover{
            scale: 1.05;

            .play-button__play-button-icon{
                transition: transform 300ms ease-in-out;
                transform: rotate(-30deg);
            }

            .play-button__arrow{
                transition: transform 300ms ease-in-out;
                transform: scaleY(1.6) scaleX(1.3);
            }
        }

        &__text{
            color: #303131;
        }
    }
}

.settings-content{
    @include full-size;
    @include white-background;
    @include position-absolute-sites;
    z-index: 9;
    background-color: #FFFFFF;

    &__headline-div{
        @include padding-left-settings;
        @include font-weight-700-RedRose;
        padding-top: 114px;
        font-size: 54px;
        color: #303131;
    }

    &__headline{
        @include space-top-bottom-zero;
    }

    &__settings-preview-div{
        display: flex;
        justify-content: space-between;
        padding-left: 170px;
        padding-right: 167px;
    }

    &__setting-div{
        @include flexbox-justify-center-column;
    }

    &__games-themes-div{
        @include flexbox-justify-center-column;
    }

    &__games-themes-headline{
        @include space-top-bottom-zero;
        @include font-weight-700;
        @include margin-font-sub-headlines-settings;
    }

    &__flexbox-input{
        @include margin-left-radion-input;
    }
    

    &__board-size-div{
        @include flexbox-justify-center-column;
    }

    &__flexbox-input{
        @include display-flex-align-center;
    }

    &__radio-input{
        margin-top: 0px;
    }

    &__choose-player-div{
        @include flexbox-justify-center-column;
        align-items: unset;
    }

    &__choose-player-headline{
        @include space-top-bottom-zero;
        @include font-weight-700;
        @include margin-font-sub-headlines-settings;
    }
    
    &__board-size-headline{
        @include space-top-bottom-zero;
        @include font-weight-700;
        @include margin-font-sub-headlines-settings;
    }
}

.card{
    height: 100px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;

    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face{
        position: absolute;
        inset: 0;
        background-color: black;
        backface-visibility: hidden;

        &--back{
            transform: rotateY(180deg);
            background-color: red;
        }
    }

    &.is-flipped .card__inner{
        transform: rotateY(180deg);
    }
}

.display-none{
    display: none;
}