@mixin full-size{
    width: 100%;
    height: 100%;
}

@mixin grey-background{
    background-color: #303131;
}

@mixin flexbox-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    height: 100vh;
    margin: 0;
}

.content{
    @include full-size;
}

.field{
    display: none;
}

.home-content{
    @include full-size;
    @include grey-background;
    @include flexbox-center-column;
}

.card{
    height: 100px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;

    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face{
        position: absolute;
        inset: 0;
        background-color: black;
        backface-visibility: hidden;

        &--back{
            transform: rotateY(180deg);
            background-color: red;
        }
    }

    &.is-flipped .card__inner{
        transform: rotateY(180deg);
    }
}

